.search_bar {
	display: flex;
	justify-content: center;
}

.search_bar .search_box {
	max-width: 30em;
	flex: 100px;
}

.search_box {
	font-size: 2em;
}

.search_results_tags, .search_results_attributes, .search_results_records_and_links {
	display: flex;
}

article.search_result {
	section.info {
	}

	section.tags {
	}

	section.attributes {
	}

	section.record_data {
	}

	section.link_from_to {
	}
}
